language: php

php:
    - 7.0

install:
    - composer require satooshi/php-coveralls
  
before_script:
    - phpenv config-rm xdebug.ini
    - composer self-update
    - composer update
    - mkdir -p build/logs
 
script:
    - phpunit --coverage-clover build/logs/clover.xml
 
after_success:
    - sh -c 'php vendor/bin/coveralls -v'
